[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/glfw"]
	path = dependencies/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependencies/glew-cmake"]
	path = dependencies/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
